:root {
  --colors-black: #000000;
  --colors-white: #FFFFFF;
  --colors-purple-50: #EDEFFE;
  --colors-purple-100: #C8CEFC;
  --colors-purple-200: #AEB6FB;
  --colors-purple-300: #8895F9;
  --colors-purple-400: #7181F8;
  --colors-purple-500: #4E61F6;
  --colors-purple-600: #4758E0;
  --colors-purple-700: #3745AF;
  --colors-purple-800: #2B3587;
  --colors-purple-900: #212967;
  --colors-grey-50: #F9FAFB;
  --colors-grey-100: #F3F4F6;
  --colors-grey-200: #E5E7EA;
  --colors-grey-300: #D2D5DB;
  --colors-grey-400: #9EA2AE;
  --colors-grey-500: #6D717F;
  --colors-grey-600: #4D5461;
  --colors-grey-700: #394050;
  --colors-grey-800: #212936;
  --colors-grey-900: #131927;
  --colors-green-50: #ECF8EF;
  --colors-green-100: #C5E9CD;
  --colors-green-200: #A9DEB4;
  --colors-green-300: #81CF92;
  --colors-green-400: #69C57D;
  --colors-green-500: #43B75D;
  --colors-green-600: #3DA755;
  --colors-green-700: #308242;
  --colors-green-800: #256533;
  --colors-green-900: #1C4D27;
  --colors-red-50: #FDECEC;
  --colors-red-100: #FAC5C3;
  --colors-red-200: #F7A9A7;
  --colors-red-300: #F4827E;
  --colors-red-400: #F16965;
  --colors-red-500: #EE443F;
  --colors-red-600: #D93E39;
  --colors-red-700: #A9302D;
  --colors-red-800: #832523;
  --colors-red-900: #641D1A;
  --colors-yellow-50: #FFF7E6;
  --colors-yellow-100: #FFE5B0;
  --colors-yellow-200: #FFD88A;
  --colors-yellow-300: #FFC654;
  --colors-yellow-400: #FFBB33;
  --colors-yellow-500: #FFAA00;
  --colors-yellow-600: #E89B00;
  --colors-yellow-700: #B57900;
  --colors-yellow-800: #8C5E00;
  --colors-yellow-900: #6B4700;
  --colors-blue-50: #E6F4FF;
  --colors-blue-100: #B0DEFF;
  --colors-blue-200: #8ACEFF;
  --colors-blue-300: #54B8FF;
  --colors-blue-400: #33AAFF;
  --colors-blue-500: #0095FF;
  --colors-blue-600: #0088E8;
  --colors-blue-700: #006AB5;
  --colors-blue-800: #00528C;
  --colors-blue-900: #003F6B;
  --shadows-100: 0px 1px 2px rgba(0, 0, 0, 0.05);
  --shadows-200: 0px 2px 4px rgba(0, 0, 0, 0.07);
  --shadows-300: 0px 3px 6px rgba(0, 0, 0, 0.1);
  --shadows-400: 0px 4px 8px rgba(0, 0, 0, 0.15);
  --shadows-500: 0px 6px 12px rgba(0, 0, 0, 0.2);
  --shadows-600: 0px 8px 16px rgba(0, 0, 0, 0.25);
  --shadows-700: 0px 12px 20px rgba(0, 0, 0, 0.3);
  --shadows-800: 0px 16px 24px rgba(0, 0, 0, 0.35);
  --shadows-900: 0px 20px 30px rgba(0, 0, 0, 0.4);
  --font-h1-font-family: Inter, sans-serif;
  --font-h1-font-weight: 600;
  --font-h1-font-size: 48px;
  --font-h1-line-height: 58px;
  --font-h2-font-family: Inter, sans-serif;
  --font-h2-font-weight: 600;
  --font-h2-font-size: 40px;
  --font-h2-line-height: 48px;
  --font-h3-font-family: Inter, sans-serif;
  --font-h3-font-weight: 600;
  --font-h3-font-size: 32px;
  --font-h3-line-height: 38px;
  --font-h4-font-family: Inter, sans-serif;
  --font-h4-font-weight: 600;
  --font-h4-font-size: 28px;
  --font-h4-line-height: 34px;
  --font-h5-font-family: Inter, sans-serif;
  --font-h5-font-weight: 600;
  --font-h5-font-size: 24px;
  --font-h5-line-height: 28px;
  --font-s1-font-family: Inter, sans-serif;
  --font-s1-font-weight: 600;
  --font-s1-font-size: 18px;
  --font-s1-line-height: 28px;
  --font-s2-font-family: Inter, sans-serif;
  --font-s2-font-weight: 600;
  --font-s2-font-size: 16px;
  --font-s2-line-height: 24px;
  --font-b1-font-family: Inter, sans-serif;
  --font-b1-font-weight: 400;
  --font-b1-font-size: 16px;
  --font-b1-line-height: 24px;
  --font-b2-font-family: Inter, sans-serif;
  --font-b2-font-weight: 500;
  --font-b2-font-size: 16px;
  --font-b2-line-height: 24px;
  --font-b3-font-family: Inter, sans-serif;
  --font-b3-font-weight: 400;
  --font-b3-font-size: 14px;
  --font-b3-line-height: 20px;
  --font-b4-font-family: Inter, sans-serif;
  --font-b4-font-weight: 500;
  --font-b4-font-size: 14px;
  --font-b4-line-height: 20px;
  --font-c1-font-family: Inter, sans-serif;
  --font-c1-font-weight: 400;
  --font-c1-font-size: 12px;
  --font-c1-line-height: 16px;
  --font-c2-font-family: Inter, sans-serif;
  --font-c2-font-weight: 500;
  --font-c2-font-size: 12px;
  --font-c2-line-height: 16px;
  --font-c3-font-family: Inter, sans-serif;
  --font-c3-font-weight: 500;
  --font-c3-font-size: 10px;
  --font-c3-line-height: 14px;
  --font-label-font-family: Inter, sans-serif;
  --font-label-font-weight: 500;
  --font-label-font-size: 12px;
  --font-label-line-height: 16px;
  --font-label-text-transform: uppercase;
  --font-button-giant-font-family: Inter, sans-serif;
  --font-button-giant-font-weight: 600;
  --font-button-giant-font-size: 18px;
  --font-button-giant-line-height: 24px;
  --font-button-large-font-family: Inter, sans-serif;
  --font-button-large-font-weight: 600;
  --font-button-large-font-size: 16px;
  --font-button-large-line-height: 20px;
  --font-button-medium-font-family: Inter, sans-serif;
  --font-button-medium-font-weight: 600;
  --font-button-medium-font-size: 14px;
  --font-button-medium-line-height: 16px;
  --font-button-small-font-family: Inter, sans-serif;
  --font-button-small-font-weight: 600;
  --font-button-small-font-size: 12px;
  --font-button-small-line-height: 16px;
  --font-button-tiny-font-family: Inter, sans-serif;
  --font-button-tiny-font-weight: 600;
  --font-button-tiny-font-size: 10px;
  --font-button-tiny-line-height: 12px;
}
