@import '../../styles/ui/variables.css';

.ContextMenuTrigger {
	display: block;
	border: 2px #9747FF dashed;
	color: var(--color-primary-500);
	border-radius: 4px;
	font-size: 15px;
	user-select: none;
	padding: 45px 0;
	width: 300px;
	text-align: center;
}

.ContextMenuContent,
.ContextMenuSubContent {
	min-width: 220px;
	background-color: white;
	border-radius: 6px;
	overflow: hidden;
	padding: 5px;
    font-family: var(--font-b1-font-family);
    font-weight: var(--font-b1-font-weight);
    font-size: var(--font-b1-font-size);
    line-height: var(--font-b1-line-height);
	box-shadow:
		0px 10px 38px -10px rgba(22, 23, 24, 0.35),
		0px 10px 20px -15px rgba(22, 23, 24, 0.2);
}

.ContextMenuItem,
.ContextMenuCheckboxItem,
.ContextMenuRadioItem,
.ContextMenuSubTrigger {
	font-size: 13px;
	line-height: 1;
	color: var(--color-black);
	border-radius: 3px;
	display: flex;
	align-items: center;
	height: 25px;
	padding: 0 5px;
	position: relative;
	padding-left: 25px;
	user-select: none;
	outline: none;
}
.ContextMenuSubTrigger[data-state="open"] {
	background-color: var(--color-primary-50);
	color: var(--color-primary-500);
}
.ContextMenuItem[data-disabled],
.ContextMenuCheckboxItem[data-disabled],
.ContextMenuRadioItem[data-disabled],
.ContextMenuSubTrigger[data-disabled] {
	color: var(--color-grey-400);
	pointer-events: "none";
}
.ContextMenuItem[data-highlighted],
.ContextMenuCheckboxItem[data-highlighted],
.ContextMenuRadioItem[data-highlighted],
.ContextMenuSubTrigger[data-highlighted] {
	background-color: var(--color-primary-50);
	color: var(--color-primary-500);
}

.ContextMenuLabel {
	padding-left: 25px;
	font-size: 12px;
	line-height: 25px;
	color: var(--color-black);
}

.ContextMenuSeparator {
	height: 1px;
	background-color: var(--color-primary-50);
	margin: 5px;
}

.ContextMenuItemIndicator {
	position: absolute;
	left: 0;
	width: 25px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.RightSlot {
	margin-left: auto;
	padding-left: 20px;
	color: var(--color-black);
}
[data-highlighted] > .RightSlot {
	color: var(--color-primary-500);
}
[data-disabled] .RightSlot {
	color: var(--color-grey-400);
}
