@import '../../styles/ui/variables.css';

:where(#core-badge){
    .badge {
        display: flex;
        align-items: center;
        width: fit-content;
        min-width: 132px;
        height: 40px;
        background-color: var(--color-primary-500);
        border-radius: 12px;
        padding-left: 12px;
        padding-right: 12px;
    }

    .label {
        padding-left: 12px;
        padding-right: 12px;
        color: white;
        margin: auto;
    }

    .badge .icon, .close-icon {
        stroke: white;
        cursor: pointer;
    }

    .close-icon {
        margin-left: auto;
    }

    /* BADGE VARIANTS */
    .badge.success {
        background-color: var(--color-green-500);
    }
    
    .badge.info {
        background-color: var(--color-blue-500);
    }

    .badge.warning {
        background-color: var(--color-yellow-500);
    }

    .badge.error {
        background-color: var(--color-red-500);
    }
}